.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(17, 17, 17);
    scroll-behavior: smooth;
}
#hero{
    transition: ease-in-out .2s;
}
@keyframes scrollTo {
    from {
        scroll-position: 0%;
    }
    to {
        scroll-position: 100%;
    }
}

.smooth-scroll {
    animation: scrollTo 0.5s ease-in-out;
}
.home_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

@media (width > 800px) {
    .home_content {
        position: relative;
        top: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: CHAMPG;
    }

    .nav_links-section {
        display: flex;
        gap: 25px;
        font-size: 30px;
        mix-blend-mode: exclusion;
        color: white;
        margin-top: 5vh;
    }

    .home_content2 {
        position: relative;
        top: 50vh;
        margin-top: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 7vh;
        font-family: SFRREG;
        color: rgb(0, 0, 0);
        background-color: rgba(222, 220, 220, 0.966);
        width: 100%;
        padding: 20vh 5vw;
        box-sizing: border-box;
        /* mix-blend-mode: difference; */
        box-shadow: 0 0 25px 3px rgba(255, 255, 255, 0.685);
    }

    .home-c2-ls {
        gap: 5vw;
        display: flex;
        align-items: center;
    }

    .home-c2-rs {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 5vw;
    }

    .home-c2-ls_flex-list {
        display: flex;
        list-style: none;
        gap: 30px;
    }

    .home-c2_ul {
        list-style: none;
        font-size: 14px;
    }

    .home-c2_list-item__head {
        font-weight: bold;
        margin-bottom: 5px;
        opacity: .8;
    }


    .home-threeWays__img {
        width: 35rem;
        mix-blend-mode: difference;
    }


    .home-c2-rs_article {
        margin: 25px;
        font-size: 14px;
    }

    .home-c2-rs_article_header {
        font-weight: bold;
    }

    .home-c2-rs_img {
        width: 33rem;
        mix-blend-mode: difference;
    }
}

@media (width < 800px) {
    .home_content {
        position: relative;
        top: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: CHAMPG;
    }

    .nav_links-section {
        display: flex;
        gap: 25px;
        font-size: 20px;
        mix-blend-mode: exclusion;
        color: white;
        margin-top: 10vh;
        padding-bottom: 5px;
    }

    .home_content2 {
        position: relative;
        top: 50vh;
        margin-top: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10vw;
        font-family: SFRREG;
        color: rgb(0, 0, 0);
        background-color: rgba(222, 220, 220, 0.824);
        width: 100%;
        padding: 20vh 5vw;
        box-sizing: border-box;
        /* mix-blend-mode: difference; */
        box-shadow: 0 0 25px 3px rgba(255, 255, 255, 0.685);
    }

    .home-c2-ls {
        gap: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-c2-rs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5vw;
    }

    .home-threeWays__img {
        width: 100%;
        mix-blend-mode: difference;
    }

    .home-c2-rs_img {
        width: 100%;
        margin-top: 5vh;
        mix-blend-mode: difference;
    }

    .home-c2-ls_flex-list {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
        margin-top: 5vh;
        padding: 3vw;
    }

    .home-c2_ul {
        list-style: none;
        min-width: 25%;
        font-size: 14px;
    }

    .home-c2_list-item__head {
        font-weight: bold;
        margin-bottom: 5px;
        opacity: .8;
    }

    
    .home-c2-rs_article {
        margin: 5vh 5vw;
        font-size: 14px;
    }

    .home-c2-rs_article_header {
        font-weight: bold;
        opacity: .8;
        margin-bottom: 5px;
    }

}

.home_svg-txt {
    width: 85vw;
    box-sizing: border-box;
    mix-blend-mode: difference;

}

.home_foot-txt {
    font-size: 15px;
    width: 80%;
    margin-top: 20px;
    mix-blend-mode: difference;
    color: white;
    text-align: center;
}


.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}