.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.home_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

@media (width > 800px) {
    .home_content{
        position: relative;
        top: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: CHAMPG;
    } 
    .nav_links-section {
        display: flex;
        gap: 25px;
        font-size: 30px;
        mix-blend-mode: exclusion;
        color: white;
        margin-top: 5vh;
    }
}
@media (width < 800px) {
    .home_content{
        position: relative;
        top: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: CHAMPG;
    } 
    .nav_links-section {
        display: flex;
        gap: 25px;
        font-size: 20px;
        mix-blend-mode: exclusion;
        color: white;
        margin-top: 10vh;
        padding-bottom: 5px;
    }
}
.home_svg-txt {
    width: 80vw;
    box-sizing: border-box;
    mix-blend-mode: difference;

}

.home_foot-txt {
    font-size: 15px;
    width: 80%;
    margin-top: 20px;
    mix-blend-mode: difference;
    color: white;
    text-align: center;
}


.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}