.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    z-index: 9999;
}

.nav-link_ico:hover{
    color: yellow;
}
@media (width > 800px) {
    .nav {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 25px 10vw;
        box-sizing: border-box;
        z-index: 2000000000000;
        mix-blend-mode: difference;


    }

    .nav_logo-section {
        display: flex;
        gap: 10px;
    }


    .nav_logo-txt {
        color: white;
        mix-blend-mode: difference;
        font-size: 17px;
        font-family: SFRMED;
    }

    .nav_links-section {
        display: flex;
        align-items: center;
        gap: 25px;
        font-size: 20px;
        mix-blend-mode: exclusion;
        color: white;
    }

    .nav-righ-side {
        display: flex;
        align-items: center;
        gap: 10vw;
    }

    .nav_button {
        font-size: 17px;
        color: white;
    }

    .nav_button:hover {
        color: yellow;
    }

}

@media (width < 800px) {
    .nav {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 5%;
        box-sizing: border-box;
        z-index: 9999999999000000;
        mix-blend-mode: difference;
    }

    .nav_links-section {
        align-items: center;
        display: flex;
        gap: 10px;
        font-size: 15px;
        mix-blend-mode: exclusion;
        color: white;
        padding-bottom: 5px;
    }


    .nav_logo-section {
        display: flex;
        align-items: center;
        gap: 10px;

    }

    .nav_logo-txt {
        color: white;
        font-size: 17px;
        font-weight: bold;
        font-family: SFRMED;

    }

    
    .nav-righ-side {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 1vh;
    }

    .nav_button {
        font-size: 10px;
        color: white;
        
    }

}

.nav {
    font-family: SFRREG;
}