.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    z-index: 9999;
}

.nav-link_ico:hover {
    color: yellow;
}

@media (width > 800px) {
    .nav_logo-img {
        width: 140px;
    }

    .nav {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 7vw 20px 6vw;
        box-sizing: border-box;
        z-index: 2000000000000;
        mix-blend-mode: difference;


    }

    .nav_logo-section {
        display: flex;
        gap: 10px;
    }


    .nav_logo-txt {
        color: white;
        mix-blend-mode: difference;
        font-size: 17px;
        font-family: SFRMED;
    }

    .nav_links-section {
        display: flex;
        align-items: center;
        gap: 25px;
        font-size: 20px;
        mix-blend-mode: exclusion;
        color: white;
    }

    .nav-righ-side {
        display: flex;
        align-items: center;
        gap: 10vw;
    }

    .nav_button {
        font-size: 17px;
        color: white;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav_button:hover {
        color: yellow;
    }

}

@media (width < 800px) {
    .nav_logo-img {
        width: 160px;
    }

    .nav {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 5vw 10px 5vw;
        box-sizing: border-box;
        z-index: 9999999999000000;
        mix-blend-mode: difference;
    }

    .nav_links-section {
        align-items: center;
        display: flex;
        gap: 5px;
        font-size: 15px;
        mix-blend-mode: exclusion;
        color: white;
    }

    /* 
    .nav_logo-section {
        display: flex;
        align-items: center;
        gap: 10px;

    } */

    /* .nav_logo-txt {
        color: white;
        font-size: 17px;
        font-weight: bold;
        font-family: SFRMED;

    } */


    .nav-righ-side {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 3px;

    }

    .nav_button {
        font-size: 12px;
        color: white;
        display: flex;
        align-items: center;
        text-decoration: none;

    }

    .nav_header__scroll {
        background-color: rgb(0, 0, 0);
        mix-blend-mode: normal !important;
        font-family: SFRMED;
        transition: ease-in-out 1s;
        box-shadow: 0 0 10px 1px rgba(38, 38, 38, 0.538);
    }

    .nav_header__scroll .nav_logo-txt,
    .nav_header__scroll .nav_button {
        color: rgb(255, 255, 255);
    }

    .nav_header__scroll .nav_links-section {
        color: rgb(255, 255, 255);

    }
}

.nav {
    font-family: SFRREG;
}